.item-showcase {
    background: #FFF;
    border: 1px solid #F0F0F0;
    border-radius: 2px;
    margin: 0 5px 10px;
    height: 580px;
    box-shadow: 1px 1px 6px #ccc;
    position: relative;
    max-width: 320px;
}

.item-showcase h4 {
    margin: 5px 8px;
    color: #c60707;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.item-showcase h4 span {
    display: block;
    font-size: 17px;
    margin-top: 5px;
    color:#000
}

.item-showcase img {
    width: 100%;
    margin: 0px auto;
}

.item-showcase .product-description {
    width: 90%;
    margin: 10px auto 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 14px;
    color:#666
}


.item-showcase .product-description .price {
    color: #ffd700;
    margin-top: 10px;
    background: black;
    font-size: 22px;
}

.item-showcase .product-description button {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -100px;
    display: flex;
    bottom: 20px;
    width: 200px;
    justify-content: space-evenly;
    font-family: 'Quicksand', sans-serif;
    background-color: #007B39;
    border:1px solid #026d32;
    border-radius: 7px;
    font-size: 20px;
    text-transform: uppercase;
    color: #0d4c28;
    padding: 12px 0;
    font-weight: bold;
}
.item-showcase .product-description button svg {
    font-size: 27px;
    color: #10bc5b;
}