@import url("slick.css");
@import url("slick-theme.css");
@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand|Baloo+Bhai&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

html , body {
    height: 100%;
    padding-bottom: 60px;
}

ul {
    list-style: none;
}

h1 , h2 , h3 , h4 , h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

h3::after{
    content : ' ';
    display: block;
    width: 12px;
    border-radius: 10px;
    height: 4px;
    background-color: #c60707;
}

button {
    cursor: pointer;
}

.logo {
    cursor: pointer;
}